<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Hostname" value ="localhost"/>
		<add key="Port" value ="502"/>
		<add key="SensorsCount" value ="10"/>
		<add key="SlavesCount" value ="2"/>
		<add key="SystemStatusStartAdress" value ="0"/>
		<add key="SystemStatusNumberOfPoints" value ="1"/>
		<add key="DeviceNameStartAdress" value ="1"/>
		<add key="DeviceNameNumberOfPoints" value ="32"/>
		<add key="SensorStartAdress" value ="100"/>
		<add key="SensorNumberOfPoints" value ="4"/>
		<add key="RefreshDataMs" value ="00:00:20"/>
		<add key="PrintDecor" value ="-------------------------"/>
	</appSettings>
</configuration>